@use 'sass:color';
@use '../../../styles/vars';

$status-colors: (
	'hit': #df5151,
	'miss': #b2d1ea,
);

.shot {
	$root: &;
	display: inline-block;
	vertical-align: baseline;
	min-height: 1em;
	min-width: 1em;
	border-radius: 50%;
	box-shadow: vars.$box-shadow-default;

	@each $status, $color in $status-colors {
		&--#{$status} {
			background: radial-gradient($color, color.adjust($color, $lightness: -10%));
		}
	}
}
