@use '../../../styles/vars';

.ship {
	$root: &;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-height: 1em;
	min-width: 1em;
	background: #666;
	border-radius: 25%;

	@for $size from vars.$ship-size-min through vars.$ship-size-max {
		/* stylelint-disable plugin/selector-bem-pattern */
		&--size-#{$size} {
			&::before {
				content: '#{$size}';
				color: rgba(#fff, .5);
				font-size: .75em;;
			}

			&#{$root}--horizontal {
				min-width: $size * 1em;
			}

			&#{$root}--vertical {
				min-height: $size * 1em;
			}
		}
		/* stylelint-enable plugin/selector-bem-pattern */
	}
}
