@use 'sass:color';

/* stylelint-disable plugin/selector-bem-pattern */

@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');

$background-noise: url('data:image/svg+xml;base64,CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCI+CiAgICA8ZmlsdGVyIGlkPSJub2lzZSIgeD0iMCIgeT0iMCI+CiAgICAgIDxmZVR1cmJ1bGVuY2UgdHlwZT0iZnJhY3RhbE5vaXNlIiBiYXNlRnJlcXVlbmN5PSIwLjY1IiBudW1PY3RhdmVzPSIzIiBzdGl0Y2hUaWxlcz0ic3RpdGNoIi8+CiAgICAgIDxmZUJsZW5kIG1vZGU9InNjcmVlbiIvPgogICAgPC9maWx0ZXI+CiAgICA8cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsdGVyPSJ1cmwoI25vaXNlKSIgb3BhY2l0eT0iMC4zMzMiLz4KPC9zdmc+');

body {
	background: $background-noise, radial-gradient(#fff, color.adjust(#fff, $lightness: -5%));
	color: #222;
	font:
		normal 16px 'Playpen Sans',
		cursive;
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	filter: url('#grainy');
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}
