@use '../../../styles/vars';

$rendered-board-size: vars.$board-size + 1; // space for the row and column header

.board {
	display: block;

	&__canvas {
		position: relative;
		aspect-ratio: 1;
	}

	&__layer {
		position: absolute;
		inset: 0;
		display: grid;
		grid-template-columns: repeat($rendered-board-size, 1fr);
		grid-template-rows: repeat($rendered-board-size, 1fr);
	}

	&__field {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 1em;
		min-width: 1em;
		border-bottom: 1px dashed #6495ed;
		border-right: 1px dashed #6495ed;

		&--header {
			color: #c54e4e;
		}
	}
}
