@use '../../../styles/vars';

$rendered-board-size: vars.$board-size + 1; // space for the row and column header

.board {
	display: grid;
	grid-template-columns: repeat($rendered-board-size, 1fr);
	grid-template-rows: repeat($rendered-board-size, 1fr);
	height: 80vh;
	aspect-ratio: 1;

	&__field {
		display: flex;
		justify-content: center;
		align-items: center;
		border-right: 1px dashed #6495ed;
		border-bottom: 1px dashed #6495ed;

		&--header {
			color: #c54e4e;
		}
	}
}
