@use 'sass:math';

// defaults for values from `settings.json`
$ship-size-min: 1 !default;
$ship-size-max: 5 !default;

$scale-factor: 0.9;

.ship {
	$root: &;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-height: 1em;
	min-width: 1em;
	background: #bfb7b7;
	border-radius: 25%;

	&.-is-sunk {
		background: #ed8b8b;
	}

	@for $size from $ship-size-min through $ship-size-max {
		/* stylelint-disable plugin/selector-bem-pattern */
		&--size-#{$size} {
			&::before {
				content: '#{$size}';
				color: rgba(#fff, 0.5);
				font-size: 0.75em;
			}

			&#{$root}--horizontal {
				min-width: $size * 1em;
				transform: scale(1 - (math.div(1 - $scale-factor, $size)), $scale-factor);
			}

			&#{$root}--vertical {
				min-height: $size * 1em;
				transform: scale($scale-factor, 1 - (math.div(1 - $scale-factor, $size)));
			}
		}
		/* stylelint-enable plugin/selector-bem-pattern */
	}
}
